<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mCare"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <uses-feature android:name="android.hardware.camera" />
    <!-- Para notificacoes -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Holo.Light" >
        <activity
            android:name="com.mCare.main.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.mCare.novocontato.NovoContato"
            android:label="@string/title_activity_novo_contato" >
        </activity>
        <activity
            android:name="com.mCare.paciente.InfPaciente"
            android:label="@string/title_activity_inf_paciente" >
        </activity>
        <activity
            android:name="com.mCare.main.CadastroConsulta"
            android:label="@string/title_activity_cadastro_consulta" >
        </activity>
        <activity
            android:name="com.mCare.consulta.VisualizarConsultaIndividualtaIndividual"
            android:label="@string/title_activity_consulta_individual" >
        </activity>
        <activity
            android:name="com.mCare.consulta.CadastrarConsultatrarConsulta"
            android:label="@string/title_activity_cadastro_consulta" >
        </activity>
        <activity
            android:name="com.mCare.consulta.ListaConsultasstaConsultas"
            android:label="@string/title_activity_lista_consultas" >
        </activity>
        <activity
            android:name="com.mCare.consulta.EditarConsultaitarConsulta"
            android:label="@string/title_activity_editar_consulta" >
        </activity>
        <activity
            android:name="com.mCare.configuracaoConsulta.CriaCampoView"
            android:label="@string/title_activity_cria_campo_view" >
        </activity>
        <activity
            android:name="com.mCare.consulta.agendarConsulta.AgendarConsulta"
            android:label="@string/title_activity_agendar_consulta_2" >
        </activity>
        <activity
            android:name="com.mCare.main.Agenda_Fragment"
            android:label="@string/title_activity_consultas" >
        </activity>
        <activity
            android:name="com.mCare.consulta.VisualizaInfoConsultaAgendada"
            android:label="@string/title_activity_visualiza_info_consulta_agendada" >
        </activity>
        <activity
            android:name="com.mCare.configuracaoConsulta.SelecionaCamposView"
            android:label="@string/title_activity_seleciona_campos_view" >
        </activity>
        <activity
            android:name="com.mCare.medicamento.CadastrarMedicamento"
            android:label="@string/title_activity_cadastrar_medicamento" >
        </activity>
        <activity
            android:name="com.mCare.medicamento.ListaMedicamentos"
            android:label="@string/title_activity_lista_medicamentos" >
        </activity>
        <activity
            android:name="com.mCare.medicamento.EditarMedicamento"
            android:label="@string/title_activity_editar_medicamento" >
        </activity>
        <activity
            android:name="com.mCare.medicamento.VisualizarMedicamento"
            android:label="@string/title_activity_visualizar_medicamento" >
        </activity>
        <activity
            android:name="com.mCare.consulta.realizarConsulta.RealizarConsultaMain"
            android:label="@string/title_activity_realizar_consulta_main" >
        </activity>
        <activity
            android:name="com.mCare.consulta.realizarConsulta.Consulta_Fragment"
            android:label="@string/title_activity_consulta__fragment" >
        </activity>
        <activity
            android:name="com.mCare.consulta.realizarConsulta.Visualiza_Consulta_Realizada"
            android:label="@string/title_activity_visualiza__consulta" >
        </activity>
        <activity
            android:name="com.mCare.consulta.ListaConsultasPaciente"
            android:label="@string/title_activity_lista_consultas_paciente" >
        </activity>
        <activity
            android:name="com.mCare.media.Midia_Fragment"
            android:label="@string/title_activity_midia__fragment" >
        </activity>

        <receiver android:name="com.mCare.notificacao.NotificacaoConsulta" >
        </receiver>

        <activity
            android:name="com.mCare.diagnostico.CadastrarDiagnostico"
            android:label="@string/title_activity_cadastrar_diagnostico" >
        </activity>
        <activity
            android:name="com.mCare.diagnostico.EditarDiagnostico"
            android:label="@string/title_activity_editar_diagnostico" >
        </activity>
        <activity
            android:name="com.mCare.diagnostico.VisualizarDiagnostico"
            android:label="@string/title_activity_visualizar_diagnostico" >
        </activity>
        <activity
            android:name="com.mCare.diagnostico.ListaDiagnosticos"
            android:label="@string/title_activity_lista_diagnosticos" >
        </activity>
        <activity
            android:name="com.mCare.paciente.historico.ListaCamposConsulta"
            android:label="@string/title_activity_lista_campos_consulta" >
        </activity>
        <activity android:name="com.mCare.paciente.historico.ListaValoresCampo" >
        </activity>
        <activity
            android:name="com.mCare.media.Descricao"
            android:label="@string/title_activity_descricao" >
        </activity>
        <activity
            android:name="com.mCare.exame.CadastrarExame"
            android:label="@string/title_activity_cadastrar_exame" >
        </activity>
        <activity
            android:name="com.mCare.EditarExame"
            android:label="@string/title_activity_editar_exame" >
        </activity>
        <activity
            android:name="com.mCare.ListaExames"
            android:label="@string/title_activity_lista_exames" >
        </activity>
        <activity
            android:name="com.mCare.VisualizarExame"
            android:label="@string/title_activity_visualizar_exame" >
        </activity>
    </application>

</manifest>
